<%- include('template/cabecera', {tituloWeb:'Inicio'})%>
    <div class="container">
        <div class="d-grid gap-2">
            <a class="btn btn-success my-4" 
            type="submit"
            href="/clothes/create">
            Crear nueva prenda
        </a>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Color</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayRopa.length>0) { %>
                    <% arrayRopa.forEach(clothes=> { %>
                        <tr>
                            <th scope="row"><%=clothes.id%></th>
                            <td><%=clothes.nombre%></td>
                            <td><%=clothes.color%></td>
                            <td>
                                <a href="clothes/<%=clothes.id%>" class="btn btn-warning btn-sm">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>              
            </tbody>
        </table>
    </div>
<%- include('template/footer')%>